---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/zoom.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <!--------------- YOUR NAME OVER HERE -------------->
      <h2 class="header"><a class="header-link" href="https://clayton-halim.github.io">{{ site.full_name }}</a></h2>
        <ul id="tag-list" class="hlist">
          {% for tag in site.data.tags %}
            <li class="hlist-item"><code><a class="hover-accent" href="#{{ tag.tag }}">{{ tag.tag }}</a></code></li>
          {% endfor %}
        </ul>
      <div id="gallery">
      </div>
    </div>
    <div class="footer">Made by <a class="author"
        href="http://andyzhang.net/">Andy Zhang</a></div>
  </body>
  <script 
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="js/transition.js"></script>
  <script src="js/zoom.min.js"></script>
  <script src="js/gallery.js"></script>
  <script>
    var COLUMNS = 'columns';
    var ROWS = 'rows';
    var SQUARES = 'squares';

    var columns = COLUMNS;
    var rows = ROWS;
    var squares = SQUARES;

    var layoutStyle = {{ site.layout_style }};

    var configuration = {
      spacing: {{ site.spacing }},
      shuffle: {{ site.shuffle }},
      columns: {{ site.columns }},
      maxHeight: {{ site.max_height }}
    };
  </script>
  <script src="js/script.js"></script>
  {% include ga.html %}
</html>
